/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/flights.jpg'); /* Path to image */
    background-size: cover; /* Cover full screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    height: 100vh; /* Full screen height */
    margin: 0; /* Remove default margin */
    font-family: Arial, sans-serif;
  }
  